@import "tailwindcss";

@theme {
  --color-background: #111111;
  --color-foreground: #ffffff;
  --color-primary: #3552bf;

  --font-geist: var(--font-geist), sans-serif;
  --font-geist-mono: var(--font-geist-mono), monospace;
  --font-minecraft: "mac's Extended Minecraft", monospace;

  --blur-xs: 6px;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Custom font faces */
@font-face {
  font-family: "mac's Extended Minecraft";
  src: url("/fonts/minecraft.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

